.vscode
.DS_Store
### Python ###
.venv*/
.python-version
.pdm-python
.mypy_cache
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
ml/



example/
# Added by cargo

**/target/
